@using Microsoft.AspNet.Identity
@using MoBaEsport.Application.Systems.UserServiceModel
@model UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="profile container">
    <div class="row">
        <div class="col-lg-3">
            <div class="profile__left rounded-1 shadow border-dark border-2 p-2 bg-white">
                <img src="@Model.ImageUrl" class="rounded-2" alt="" width="150px" height="150px"/>
                <h5 class="fs-5 fw-bold text-danger text-center">
                    @Model.Fullname
                </h5>
                <p>Birthday: <span>@Model.DOB.ToString("dd/MM/yyyy")</span></p>
            </div>
            <div class="profile__left rounded-1 shadow border-dark border-2 p-2 bg-white">
                <h5 class="text-danger w-100 fw-bold fs-5 border-bottom pb-2">
                    Friends
                </h5>
                @if(Model.Id.ToString() == User.Identity.GetUserId()){
                    <ul class="list-friend">
                        @foreach (var item in Model.friendList)
                        {
                            <ul class="list-friend-item">
                                <li class="item-name">@item.Friend.Fullname</li>
                                <li class="item-control"><a class="btn-success" href="@Url.Action("ViewChatBox","User", new {targetId=item.Friend.Id, userId=User.Identity.GetUserId()})">Chat</a></li>
                                <li class="item-control"><a class="btn-success" href="@Url.Action("ViewProfile","User", new {userId=item.Friend.Id})">Profile</a></li>
                            </ul>
                        }
                    </ul>
                }
                else{
                    <ul>
                        @foreach (var item in Model.friendList)
                        {
                            <ul>
                                <li style="display:inline">@item.Friend.Fullname</li>
                                <li style="display:inline"><a class="btn-info" href="@Url.Action("ViewProfile","User", new {userId=item.Friend.Id})">Profile</a></li>
                            </ul>
                        }
                    </ul>
                }
                
            </div>
        </div>
        <div class="col-lg-7">
            <div class="profile__content bg-white shadow p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="fs-3 text-danger fw-semibold">@Model.Fullname</h3>
                    @if(Model.Id.ToString() == User.Identity.GetUserId()){
                        <a href="@Url.Action("EditProfile", "User", new { userId=User.Identity.GetUserId()})" class="btn btn-danger rounded-5 btn-sm p-2">
                            Edit Profile
                        </a>
                    }
                    else{
                        <a href="@Url.Action("Follow", "User", new { followId=Model.Id, userId=User.Identity.GetUserId()})" class="btn btn-danger rounded-5 btn-sm p-2">
                            Follow
                        </a>
                        <a href="@Url.Action("CreateFriendRequest", "User", new { targetId=Model.Id, userId=User.Identity.GetUserId()})" class="btn btn-success rounded-5 btn-sm p-2">
                            Make Friend
                        </a>
                    }
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2 pb-2 border-bottom">
                    <div class="">
                        <h5 class="fw-bold text-secondary">Follows</h5>
                        <p class="text-danger mt-1">134 user</p>
                    </div>
                    <div class="">
                        <h5 class="fw-bold text-secondary">Follows</h5>
                        <p class="text-danger mt-1">134 user</p>
                    </div>
                    <div class="">
                        <h5 class="fw-bold text-secondary">Follows</h5>
                        <p class="text-danger mt-1">134 user</p>
                    </div>
                    <div class="">
                        <h5 class="fw-bold text-secondary">Follows</h5>
                        <p class="text-danger mt-1">134 user</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 flex-wrap mt-2 pb-2 border-bottom">
                    <button class="btn btn-dark">CS GO</button>
                    <button class="btn btn-dark">CS GO</button>
                    <button class="btn btn-dark">CS GO</button>
                    <button class="btn btn-dark">CS GO</button>
                    <button class="btn btn-dark">CS GO</button>
                    <button class="btn btn-dark">CS GO</button>
                    <button class="btn btn-dark">CS GO</button>
                </div>

                <div class="d-flex flex-column gap-2 pt-4">
                    <h5 class="fs-4 fw-bold text-secondary">Info</h5>
                    <p class="text-secondary">LOL,PUPG PC,TFT,CALL VIDEO</p>
                    <div class="pr__gr__imgs d-flex gap-2 flex-wrap">
                        <img src="./imgs/card.jpg" alt="" />
                        <img src="./imgs/card.jpg" alt="" />
                        <img src="./imgs/card.jpg" alt="" />
                        <img src="./imgs/card.jpg" alt="" />
                        <img src="./imgs/card.jpg" alt="" />
                    </div>

                    <p class="text-secondary mt-1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Sapiente dolor molestiae vitae necessitatibus? Asperiores,
                        iste!
                    </p>
                    <p class="text-secondary mt-1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Sapiente dolor molestiae vitae necessitatibus? Asperiores,
                        iste!
                    </p>
                    <p class="text-secondary mt-1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Sapiente dolor molestiae vitae necessitatibus? Asperiores,
                        iste!
                    </p>
                    <p class="text-secondary mt-1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Sapiente dolor molestiae vitae necessitatibus? Asperiores,
                        iste!
                    </p>
                    <p class="text-secondary mt-1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Sapiente dolor molestiae vitae necessitatibus? Asperiores,
                        iste!
                    </p>
                    <iframe class="w-100 py-4"
                            height="500"
                            src="https://www.youtube.com/embed/Hf1bRT-bHbU"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="py-1 border-bottom"></div>
                    <div class="">
                        <h5 class="fs-4 fw-bold text-secondary">ratings</h5>
                        <div class="d-flex justify-content-between p-2 mt-2 shadow">
                            <img src="./imgs/card.jpg"
                                 width="40"
                                 height="40"
                                 class="rounded-circle"
                                 alt="" />
                            <div class="me-auto mx-2 flex-column justify-content-between flex-column h-100">
                                <a href="" class="fs-5">user</a>
                                <p class="py-2 text-secondary">22:06:48, 1/11/2022</p>
                                <small class="text-secondary">good </small>
                            </div>
                            <div class="">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <p class="mt-2">online(2h)</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between p-2 mt-2 shadow">
                            <img src="./imgs/card.jpg"
                                 width="40"
                                 height="40"
                                 class="rounded-circle"
                                 alt="" />
                            <div class="me-auto mx-2 flex-column justify-content-between flex-column h-100">
                                <a href="" class="fs-5">user</a>
                                <p class="py-2 text-secondary">22:06:48, 1/11/2022</p>
                                <small class="text-secondary">good </small>
                            </div>
                            <div class="">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <p class="mt-2">online(2h)</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between p-2 mt-2 shadow">
                            <img src="./imgs/card.jpg"
                                 width="40"
                                 height="40"
                                 class="rounded-circle"
                                 alt="" />
                            <div class="me-auto mx-2 flex-column justify-content-between flex-column h-100">
                                <a href="" class="fs-5">user</a>
                                <p class="py-2 text-secondary">22:06:48, 1/11/2022</p>
                                <small class="text-secondary">good </small>
                            </div>
                            <div class="">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <p class="mt-2">online(2h)</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between p-2 mt-2 shadow">
                            <img src="./imgs/card.jpg"
                                 width="40"
                                 height="40"
                                 class="rounded-circle"
                                 alt="" />
                            <div class="me-auto mx-2 flex-column justify-content-between flex-column h-100">
                                <a href="" class="fs-5">user</a>
                                <p class="py-2 text-secondary">22:06:48, 1/11/2022</p>
                                <small class="text-secondary">good </small>
                            </div>
                            <div class="">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <p class="mt-2">online(2h)</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between p-2 mt-2 shadow">
                            <img src="./imgs/card.jpg"
                                 width="40"
                                 height="40"
                                 class="rounded-circle"
                                 alt="" />
                            <div class="me-auto mx-2 flex-column justify-content-between flex-column h-100">
                                <a href="" class="fs-5">user</a>
                                <p class="py-2 text-secondary">22:06:48, 1/11/2022</p>
                                <small class="text-secondary">good </small>
                            </div>
                            <div class="">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <p class="mt-2">online(2h)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="shadow p-2 bg-white rounded-2">
                <h3 class="text-danger fs-3 fw-semibold">50.000/h</h3>
                <div class="mt-3">
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <span class="">rate(134)</span>
                </div>
                <button class="w-100 btn border-dark d-block mt-3">Donate</button>
                <button class="w-100 btn btn-danger d-block mt-1">Book</button>
            </div>
        </div>
    </div>
</div>